{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href= "{{ url_for('static', filename="css/base_analytics.css") }}">
{% endblock %}
{% block body %}
	<form method="post" action="{% block form_action %}{% endblock %}">
		<h2>Select Date/Time Range</h2>
		<label for="start_date">Start Date: </label>
		<input id="start-date" name="start_date" type="date">
		<label for="start_time">Start Time: </label>
		<input id="start-time" name="start_time" type="time">
		<label for="end_date">End Date: </label>
		<input id="end-date" name="end_date" type="date">
		<label for="end_time">End Time: </label>
		<input id="end-time" name="end_time" type="time">
		<button type="submit" id="submit-button">Submit</button>
	</form>
{% endblock %}
